@page
@model brew_track.Pages.Order.IndexModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<table class="table">
    <h1>Current Orders</h1>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Items)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].TableNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].CarType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarType)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>               
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
